@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
a:link{text-decoration:none;}
body{margin-left: 20%;
margin-top:100px;
font-family:'PT Sans';}
.tag{  background-color: #ADD8E6;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;}
